<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ projects_object.name }} details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ projects_object.name }}</h1>
                <p>{{ projects_objects.description }}</p>
                <h2>Tasks</h2>
                {% if projects_object.tasks.all | length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in projects_object.tasks.all %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.assignee }}</td>
                                    <td>{{ item.start_date }}</td>
                                    <td>{{ item.due_date }}</td>
                                    <td>{{ item.is_completed | yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
